@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 300px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.hero-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.hero-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 32px;
}

.hero-navigation a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-body {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.hero-content {
    flex-basis: 600px;
}

.hero-image {
    margin-left: auto;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    margin: 8px 0 0 0;
}

.hero-button {
    background-color: #3882F6;
    margin: 16px 0 0 0;
    padding: 8px 32px;
    border-style: none;
    color: #F9FAF8;
    border-radius: 4px;
}



.info {
    color: #444;
    margin-bottom: 64px;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 32px 0;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-card {
    text-align: center;
    flex-basis: 150px;
}

.info-card img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border: 6px solid #3882F6;
}

.info-card p {
    margin: 4px 0 0 0;
}



.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    margin: 0;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    width: 700px;
    text-align: right;
    color: #333;
}



.cta {
    padding: 75px 300px;
    color: #F9FAF8;
}

.cta-banner {
    padding: 64px 0;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.cta-heading {
    margin: 0;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 900;
}

.cta-text {
    margin: 0;
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    padding: 16px 64px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
}



.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px 0;
}

.footer-text {
    margin: 0;
    text-align: center;
}
